<section class="w-full h-full bg-zinc-100 flex flex-col justify-between" id="forgot-password">
  <div class="container mx-auto h-full flex flex-col">
    <div class="content-row w-full">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <%= render "devise/shared/error_messages", resource: resource %>

        <%= generate_auth_navigation(f) %>

        <div class="w-full mt-4 pl-4 flex flex-col items-center bg-white border-y-2 border-zinc-300">
          <div class="w-full">
            <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", placeholder: 'Email', class: 'w-full border-none py-4 pr-1 text-text_color text-xl placeholder:text-xl' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</section>