<section class="w-full h-screen bg-zinc-200 flex flex-col justify-between" id="payments">
  <% unless @payments.length == 0 %>
    <div class="container mx-auto w-full">
      <div class="content-row w-full bg-white border-b-2 border-zinc-300 py-7 px-4 text-lg flex justify-between items-center gap-2">
        <h3 class="font-normal text-zinc-500"><%= @payments[0].categories.first.name %></h3>
        <p class="font-bold text-right">$<%= @total_amount %></p>
      </div>
    </div>
  <% end %>

  <div class="container mx-auto h-5/6 flex flex-col px-4">
    <div class="content-row w-full py-6 flex flex-col items-center gap-4" id="payments-list">
      <%= render partial: 'partials/payment', collection: @payments %>
    </div>
  </div>

  <div class="container mx-auto h-1/6">
    <div class="content-row w-full">
      <div class="full-button w-full">
          <%= link_to 'Add a new transaction', new_payment_path, class: 'w-full p-5 inline-block bg-secondary opacity-100 text-white text-center uppercase transition-opacity duration-300 ease-in-out hover:opacity-70' %>
        </div>
    </div>
  </div>
</section>
