<section class="relative pt-16 w-full h-screen bg-zinc-100 flex flex-col justify-between" id="categories">
  <div class="container mx-auto h-[80%] flex flex-col px-2">
    <div class="content-row w-full pb-6 pt-4 flex flex-col items-center gap-4" id="categories-list">
      <%= render partial: 'partials/category', collection: @categories %>
    </div>
  </div>

  <div class="full-button w-full fixed bottom-0 left-0 right-0 p-4 bg-secondary transition-opacity duration-300 ease-in-out hover:opacity-80">
    <%= link_to 'Add a new category', new_category_path, class: 'w-full inline-block p-3 border-2 border-white opacity-100 text-white text-center uppercase' %>
  </div>
</section>
